page {
  background-color: #DDD;
}

.message {
  color: #000;
  font-size: 20;
  horizontal-align: center;
  padding:20;
}

/* currently for Android it's best to make the background-color the same as surface the image is rendered on */
.keyframe {
  background-color: #DDD;
  margin: 20;
}